# Node modules
node_modules/

# Build output
dist/
.astro/
.cache/

# Logs
*.log
*.log.*

# Editor files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

node_modules

#Frontmatter
# Ignorar cache e bancos locais
.frontmatter/database/
.frontmatter/content-cache/
.frontmatter/media-cache/

# Versionar só configs e templates
!.frontmatter/settings.json
!.frontmatter/templates/